body {
    background: #f3f1ef;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #c67b4a;
    margin-bottom: 5px;
}

h3 {
    color: #c67b4a;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background: #c67b4a;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}
